extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 #{name}

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p  I am a 30 year old software engineer from Vancouver, Canada. As a passionate enthusiast of art, music and coding, I enjoy finding solutions for creative passionate creators.
          p  I spent the last decade building and creating in the music industry being a co-founder of a record label and a music producer in a rap duo <a href="https://open.spotify.com/artist/0XQ7VqBPyDUAb0pcPLZZ0O">So Loki</a>. If I wasn't playing in festivals or throwing shows I was in front of laptop screens for hours creating and inventing. Alongside the creative came the marketing, branding, networking and collaboration navigating as my own business.
          p  Coding came into my life after getting interested in web3 ecosystem from minting and selling artwork through our <a href="https://foundation.app/@SOLOKI/foundation/27906">Foundation marketplace</a>. Learning smart contracts and new web3 tech is so fascinating which led me to enrolling in the <a href="https://teamtreehouse.com/techdegree/full-stack-javascript">Full Stack Javascript techdegree</a> at <b>Team Treehouse</b>.



      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li gmillar6@gmail.com

        a.btn-link(href='http://github.com/jajablinky') GitHub
        a.btn-link(href='http://twitter.com/jajablinky') Twitter