extends layout 

block content
    section
        h1= `${message} - Status: ${status}`
        img(src='/static/img/sad.png')
        nav.nav
            a(href='/')
                span &larr;
                |  Back
