extends layout 

block content
    section
        h1= `Oh noes seems like you must be lost :( - Status: 404`
        img(src='/static/img/sad.png')
        nav.nav
            a(href='/')
                span &larr;
                |  Back
